body {
    font-family: Arial, sans-serif;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
#contact {
    text-align: center;
  }
  
  #contact form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
  }
  
  #contact label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  #contact input[type="text"], #contact input[type="email"], #contact textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
  }
  
  #contact input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #contact input[type="submit"]:hover {
    background-color: #45a049;
  }
  #submit{
    display: inline-block;
  }
  #home-button{
    display: block;
    position: absolute;
    left: 48%;
    bottom: 30%;
    background-color: #45a049;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 7px 9px;

  }
  form{
    color: rgb(209, 195, 69);
  }
  #contact-me{
    color: rgb(56, 223, 214);
  }
  